* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2rem;
    /* border: 1px solid lime; */
}
@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgb(255,1,255, 0), rgb(174,0,255,1));

}

.image-container {
    width: 45%;
    height: 100vh;
    /* background-color: aqua; */
    background: url(./images/luis-villasmil-ITFwHdPEED0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.form-input-section {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-container h1 {
    font-family: 'norsebold', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 30px; */
    padding: 20px;
}

.form-container p {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    padding: 20px;
}
form h2 {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
}
.form-input-section {
    display: flex;
    flex-wrap: wrap;
}

.form-row {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form .form-input-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 30px;
}
.col-1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}

.col-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}

form input {
    border: none;
    border-radius: 3px;
}
form label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
}

form button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F60077;
    cursor: pointer;
    color: #37131D;
    font-size: 14px;
    font-weight: bold;
}

form button:hover {
    background-color: #37131D;
    color: #F60077;
}

form input:invalid {
    border: 2px solid red;
}
form input:valid {
    border: 2px solid green;
}
form input:focus {
    background-color: #eca3eb;
    font-size: 14px;
}